#python cache
/App functionality/ __pycache__/
*.pyc
*.pyo

#pyinstaller build outputs
build/
dist/
*.spec

#Virtual enviroments
.venv/
.env/

# IDE folders (optional)
.vscode/
.idea/

#testing stuff not relevant cuz it will be added to another part
/App functionality/testing.py
/App functionality/other_non_app.py